<h2>User info</h2>
      <%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
     <table>
       <tr class = "table-css">
         <th>name</th>
         <th><%= user.name %></th>
       </tr>
       <tr class = "table-css">
         <th>introdution</th>
         <th><%= user.introduction %></th>
       </tr>
      </table>
       <div class = "row">

       <%= link_to edit_user_path(user),class: "btn btn-outline-secandary" do %>
       <i class="fas fa-user-cog"></i>
       <% end %>

       </div>

       <h2>New book</h2>
       <%= form_with model:book, local:true do |f| %>
         <label for = "name1">Title</label>
         <div>
            <%= f.text_field :title %>
         </div>
         <label for = "name2">Opinion</label>
         <div>
            <%= f.text_area :body, size: "30" %>
         </div>
         <%= f.submit "Create Book"%>
       <% end %>